<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.coolappz.FUNDAHOG" version="0.0.1">
    <name>FUNDAHOG</name>
    <description>
        Aplicación destinada a FUNDAHOG como parte de Servicio Comunitario.
    </description>

    <plugin name="cordova-plugin-whitelist" version="1"/>
    <access origin="*"/>
    <icon src="img/fundahog_icon.png" />
    <platform name="android">
        <allow-intent href="market:*"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>
</widget>
